[user]
	email = fabien.seznec@ama-studios.com
	name = Fabien Seznec
[oh-my-zsh]
	hide-status = 1
[push]
	default = matching
[diff]
	external = git-meld
[merge]
	tool = git-merge-with-meld
	conflictstyle = diff3
[mergetool "git-merge-with-meld"]
	cmd = git-merge-with-meld $LOCAL $REMOTE $BASE $MERGED
